  .profile {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 22%);
  }
  
  .profile-form {
    display: flex;
    flex-direction: column;
  }
  
  .profile-submit, .profile-header, .profile-input, .input-box {
    margin-bottom: 5px;
  }