body {
    position: relative;
}

.reminders-list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 22%);
}

.buttons {
    display: flex;
    justify-content: space-around;
    flex-direction: row;  
}

Button {
    width: fit-content;
}

.reminders-table {
    margin: 20px;
}